.PaginationBarContainer{
    position: absolute;
    bottom: 0;
    flex: 1;
    
}

.pagination{
    display: flex;
    list-style-type: none; 
    justify-content: center;
    align-items: center;
    padding: 1rem;

}
.pageItem{
    /* border: solid; */
    padding: 0.5rem;
    border-radius: 0.4rem;
    margin-inline: 0.2rem;
    cursor: pointer;
}
.pageLink{
    /* border: solid; */
    margin: 1rem;
    
}
.active{
    background-color: rgb(221, 231, 254);
}
