
.SearchBarContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    /* border:solid; */
    overflow: auto;
    flex-shrink: 1;
    border-bottom:1px #c6c6c6 solid;
}
option{
    font-size: 1rem;
    font-family: sans-serif;
}
.logIdContainer{
   margin-bottom: 1rem;
   position:relative;
}
.logIdContainer input ,.logIdContainer select{
    font-size: 1rem;
  /* Form Field */

  box-sizing: border-box;

  /* Auto layout */


  align-items: flex-start;
  /* padding: 12px 16px; */
  padding-block: .4rem;

  gap: 12px;

  width: auto;
  height: auto;

  /* White */

  background: #ffffff;
  /* Lined Gray */

  border: 1px solid #c6c6c6;
  border-radius: 6px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  /* flex-grow: 0; */

 
}
.logIdContainer input:focus{
    background-color: white;
  }

.logIdContainer{
    display: flex;
    flex-direction: column;
    width: min-content;
    align-items: start;
    margin: .8rem;
}
.logIdContainer .LogID{
    font-size: 1.1rem;
    margin-bottom: .5rem;
}
.searchBtn{
    background-color: #0f489b;
    color: white;
    font-weight: bold;
    padding: 0.6rem;
    width: 10rem;
    position: absolute;
    bottom: 0;
    border-radius: 0.5rem;
    border: none;

    cursor: pointer;
}