
.LoggerSearchPageContainer{
    background-color: white;
    height: 100%;
    flex: 12;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 0.5rem;
}
.LoggerSearchPageContainer .tableData{
    
    color:#2f3941;
    border-collapse: collapse;
    width: 100%;
}

.tableData .tHeadIcon{
    display: flex;
}
.iconCircleArrow{
    width: 2rem;
    height: 2rem;
}
.logoContainer{
    width: fit-content;
    height: fit-content;
}
.thead{

    
    align-items: center;
    padding-left: 2rem;
    padding-block: 1rem;
    position: relative;

    
}
.thead span{
    margin-left: 1rem;
    /* border: solid; */
    background-color: rgb(183, 222, 241);
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    padding: 0.1rem;
}

.tableData tr{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    border-bottom: solid;
    border-color: lightgrey;
    border-width: 2px ;
}
.tRowData td{
    font-size: .8rem;
    padding: 1rem;
}
.notFound{
    color: lightgray;
}
.loading{
    opacity: 0.4;
}
.sort{
    cursor: pointer;
}
.sort:hover{
    opacity: 0.5;
}